/* Lora */

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Regular.eot');
    src: url('../fonts/Lora/Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora/Lora-Regular.ttf') format('truetype'),
        url('../fonts/Lora/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-BoldItalic.eot');
    src: url('../fonts/Lora/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora/Lora-BoldItalic.ttf') format('truetype'),
        url('../fonts/Lora/Lora-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lora/Lora-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Bold.eot');
    src: url('../fonts/Lora/Lora-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora/Lora-Bold.ttf') format('truetype'),
        url('../fonts/Lora/Lora-Bold.woff2') format('woff2'),
        url('../fonts/Lora/Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Italic.eot');
    src: url('../fonts/Lora/Lora-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora/Lora-Italic.ttf') format('truetype'),
        url('../fonts/Lora/Lora-Italic.woff2') format('woff2'),
        url('../fonts/Lora/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}